# === Telegram Configuration ===
# Telegram API credentials
# Get these from https://my.telegram.org/apps
TELEGRAM_API_ID=your_telegram_api_id_here
TELEGRAM_API_HASH=your_telegram_api_hash_here

# Add your Telegram destination channels as environment variables, e.g.:
TELEGRAM_CHANNEL_GENERAL=-1001234567890
TELEGRAM_CHANNEL_PERSONAL=-12345678910


# === Discord  Configuration ===
# Add your webhook URLs as environment variables, e.g.:
DISCORD_WEBHOOK_CYBER_NEWS=webhook_url_1
DISCORD_WEBHOOK_TECH_UPDATES=webhook_url_2
DISCORD_WEBHOOK_GENERAL_FEED=webhook_url_3


# === General Configuration ===
CONFIG_FILE=config.json
